@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

 
<h3>@ViewBag.Message</h3>

<p>
    
    
</p>

<img scr="https://static.pexels.com/photos/40140/achievement-bar-business-chart-40140.jpeg">
