@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jeff Beeson<br />
    Yorktown, IN 47396<br />
    <abbr title="phone">P:</abbr>
    765.228.1104
</address>

<address>
    <strong>Support:</strong>   <a href="jbeeson.net@gmail.com">Support@jbsoftware.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@jbsoftware.com</a>
</address>