@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StockThree</h1>
    <p class="lead">StockThree is a free web framework for monitoring stock market investments. <br/>There are three basic choices when investing:
        <ul>
            <li>Buy</li>
            <li>Hold</li>
            <li>Sell</li>
        </ul>

    </p>
    <p><a href="https://www.investopedia.com/articles/financialcareers/06/snapdecisions.asp" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started Trading</h2>
        <p>
            StockThree gives you a powerful, patterns-based way to build dynamic portfolios that
            enables a clean separation of accounts and gives you full control over your finances 
            for enjoyable, agile investments.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Investment Opportunities</h2>
        <p>StockThree is a free market application that makes it easy to buy, hold, and sell equities in stock markets around the world.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stock Market Research</h2>
        <p>StockThree helps you to easily find public companies that offer IPOs or dividend stocks priced for your portfolio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>